html {
  font-family: 'Rajdhani', sans-serif;
  width: 100%;
}
body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}
a {
  /* Remove underline */
  text-decoration: none;
}
a img {
  height: 24px;
}
/* Links to Github, etc. */
.social-links > a {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
/* Navigation bar */
nav {
  font-size: 1rem;
  display: flex;
  position: fixed;
  background: linear-gradient(0deg, rgba(33,33,33,1) 0%, rgba(172,172,172,1) 100%);
  opacity: 0.6;

  height: 4rem;
  bottom: 0;
  width: 100%;
  left: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  z-index: 2;
}
nav > a {
  width: 20%;
  font-weight: 800;
  text-align: center;
  color: black;
  opacity: 1.0;
  transition: background-color 0.5s linear;
  height: 100%;
  line-height: 4rem;
}
.focus {
  background-color: ghostwhite;
}
/* Content panel dimensions/scroll behavior */
article {
  height: 100%;
  min-width: 100%;
  scroll-snap-align: start;
  scroll-snap-stop: always;

  overflow: hidden;
}
.content-wrapper {
  height: calc(100vh - 7rem);
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 4rem;
  padding-right: 17px;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.content {
  width: 80%;
  font-size: 20px;
}
#about .content, #contact .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#projects .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
#contact .content {
  max-width: 40rem;
}
.content > *:not(:last-child) {
  margin-bottom: 2rem;
}
p,h3 {
  margin: 0;
}
h4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#about p {
  max-width: 20rem;
}
/* Embedded resume */
iframe {
  border: 0;
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
form > *:not(:last-child) {
  margin-bottom: 1rem;
}
textarea {
  resize: none;
  min-height: 150px;
}
input[type="text"], input[type="email"], textarea {
  border: none;
  min-width: 240px;
  background-color: #a0a0a0;
  border: 3px solid #8c6f64;
  color: #333333;
  padding: 10px 15px 10px 15px;
}
input:focus, textarea:focus {
  outline: none;
}
::placeholder {
  color: #494949;
}
input[type="submit"] {
  align-self: center;
  width: 30%;
  min-width: 120px;
  background-color: #a0a0a0;
  color: #8c6f64;
  font-weight: 800;
  border: 3px solid #8c6f64;
  padding: 10px 30px 10px 30px;
}
main {
  /* Hide horizontal scroll bar */
  height: calc(100vh + 17px);
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  flex-grow: 1;

  overflow-x: scroll;
  
  /* Snap to content panel, smooth scrolling on link click */
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

  box-sizing: border-box;
}
/* Content panels */
#about {
  background-color: #333333;
  color: #ffffff;
}
#projects {
  background-color: #AC887B;
}
#resume {
  background-color: #AC887B;
}
#contact {
  background-color: #333333;
  color: #ffffff;
}
.circle {
  width: 19rem;
  height: 19rem;
  border-radius: 9.5rem;
  border: 5px solid #8c6f64;
}
/* Project gallery */
.card {
  height: 300px;
  width: 400px;
  overflow: hidden;
  position: relative;
  margin-left: 1rem;
  margin-right: 1rem;
}
.card p {
  width: 80%;
}
.card > .background {
  height: 100%;
  width: 100%;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  transition: all 0.3s ease-in-out;
}
/* Text initially invisible, appear on hover */
.card > .text, .card > .card-link-wrapper {
  text-align: center;
  position: absolute;
  z-index: 1;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
.card > .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
}
.card > .card-link-wrapper {
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.card .card-link {
  /* Change pointer if it's a div */
  cursor: pointer;
  font-size: 24px;
  font-weight: 800;
  padding: 5px 15px 5px 15px;
  margin-left: 10px;
  margin-right: 10px;
  border: 2px solid #AC887B;
  color: #AC887B;
  background-color: white;
}
/* Disable button that embeds booking widget into DOM on mobile */
.card div.card-link {
  display: none;
}
.card:hover > .background {
  filter: blur(5px);
}
.card:hover > .text {
  top: 15%;
  opacity: 1;
}
.card:hover > .card-link-wrapper {
  bottom: 15%;
  opacity: 1;
}
#filebuy > .background {
  background-image: url("img/filebuy.png");
}
#bookingengine > .background {
  background-image: url("img/bookingengine.png");
}
#portfolio > .background {
  background-image: url("img/portfolio.png");
}
#coi > .background  {
  background-image: url("img/coi.png");
}
#hellsempty > .background {
  background-image: url("img/hellsempty.png");
}
/* Change text to white for portfolio preview */
#portfolio > .text, #coi > .text, #hellsempty > .text {
  color: #ffffff;
}

#progressbar > .background {
  background-image: url("img/progressbar.png");
}
#mindy > .background {
  background-image: url("img/mindy.gif");
}
#gameoflife > .background {
  background-image: url("img/gameoflife.gif");
}
#contact p {
  width: 100%;
}
/* Desktop styles */
@media only screen and (min-width: 769px) {
  nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 100%;
    width: 5rem;
    left: 0;
    bottom: auto;
    flex-direction: column;
    justify-content: flex-start;
  }
  nav > a {
    margin-bottom: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height: 4rem;
    width: 4rem;
    text-align: center;
  }
  /* Enable button that inserts widget into DOM on desktop */
  .card div.card-link {
    display: block;
  }
}