html {
  font-family: 'Rajdhani', sans-serif;
  width: 100%;
}
body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}
a {
  /* Remove underline */
  text-decoration: none;
}
a img {
  height: 24px;
}
/* Links to Github, etc. */
.social-links > a {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
/* Navigation bar */
nav {
  font-size: 1rem;
  display: flex;
  position: fixed;
  background: linear-gradient(0deg, rgba(33,33,33,1) 0%, rgba(172,172,172,1) 100%);
  opacity: 0.6;

  height: 4rem;
  bottom: 0;
  width: 100%;
  left: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav > a {
  width: 20%;
  text-align: center;
  color: black;
  opacity: 1.0;
  transition: background-color 0.5s linear;
  height: 100%;
  line-height: 4rem;
}
/* Content panel dimensions/scroll behavior */
article {
  height: 100%;
  min-width: 100%;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
  flex-direction: row;
  justify-content: center;

  overflow-y: scroll;
}
.content {
  padding-top: 4rem;
  padding-bottom: calc(4rem + 17px);
  width: 80%;
}
#about > .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#projects > .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.content > *:not(:last-child) {
  margin-bottom: 2rem;
}
p {
  margin: 0;
  max-width: 15rem;
}
/* Embedded resume */
iframe {
  border: 0;
}
/* object, iframe {
  width: 500px;
  height: 678px;
} */
main {
  /* Hide horizontal scroll bar */
  height: calc(100vh + 17px);
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  flex-grow: 1;

  overflow-x: scroll;
  
  /* Snap to content panel, smooth scrolling on link click */
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

  box-sizing: border-box;
}
/* Content panels */
#about {
  background-color: #2A322D;
  color: #ffffff;
}
#projects {
  background-color: #B1865D;
}
#resume {
  background-color: #BEB997;
}
#contact {
  background-color: #BFB68D;
}
.circle {
  background-color: darkred;
  width: 20rem;
  height: 20rem;
  border-radius: 10rem;
}
.focus {
  background-color: ghostwhite;
}
/* Project gallery */
.card {
  height: 300px;
  width: 400px;
  /* margin-right: 2rem; */
}
.card > .background {
  height: 100%;
  width: 100%;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}
#filebuy > .background {
  background-image: url("img/filebuy.png");
}
#bookingengine > .background {
  background-image: url("img/bookingengine.png");
}
#portfolio > .background {
  background-image: url("img/portfolio.png");
}
/* Desktop styles */
@media only screen and (min-width: 769px) {
  nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 100%;
    width: 5rem;
    left: 0;
    bottom: auto;
    flex-direction: column;
    justify-content: flex-start;
  }
  nav > a {
    margin-bottom: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height: 4rem;
    width: 4rem;
    text-align: center;
  }
}